body{
	background-color: #FBF2F0;
}

.button{
	margin-top: 5;
	margin-bottom: 5;
	border: none;
	color: white;
	background-color: #f7786b;
}

.titulos{
	color: #FF7759;
}

.title{
	background-color: #92a8d1;
	text-align: center; 
	color: 0000;
}

.tabla{
	background-color: #034f84;
	color: #deeaee; 
	text-align: center; 
	margin: 0 auto;
}

input{
	border: none;
	background: #112956;
	color: #deeaee; 
}